<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/contact.css">
    
    <title>Contacto Kroem</title>
</head>
<body>
    <header class="header-content" id="kroem-header">
        <div class="logo-title-container">
            <h1>Kroem Cocina Japonesa Fusión</h1>
        </div>
        <img src="../assets/kroem_logo.png" alt="LogPrincipal" class="main-logo">

        <nav id="main-navbar" class="main-navbar">
            <a href="home.html"><Button class="navigation-button">Inicio</Button></a>
            <a href="menu.html"><Button class="navigation-button">Menu</Button></a>
            <a href="reservations.html"><Button class="navigation-button">Reservaciones</Button></a>
            <a href="gallery.html"><Button class="navigation-button">Galeria</Button></a>
            <a href="contact.html"><Button class="navigation-button">Contacto</Button></a>
            <a href="review.html"><Button class="navigation-button">Reseñas</Button></a>
        </nav>
    </header>
    <main>
    
        <div id="contact-div-general">
            <div>
                <h3>¡Contáctanos!</h3>
            </div>
            <section id="contact-section-uno">
                <div id="divimagen">
                    <img id=contact-img-chef src="../assets/contact_img.PNG" alt="fotodelChef" width="250" height="300">
                </div>
    
                <section id="contact-sectionuno-subsection">
                    <h4 id="contact-header-socialnetwork">Redes sociales del restaurante</h4>
                    <article id="contact-sectionuno-article1">
                        <div>
                            <img src="../assets/contact_fblogo.jpg" alt="logofb" width="50" height="50">
                        </div>
                        <div>
                            <p>Facebook:</p>
                            <p>Kroem cocina japonesa fusión</p>
                        </div>
                    </article>
    
                    <article id="contact-sectionuno-article2">
                        <div>
                            <img src="../assets/contact_iglogo.jpg" alt="logoig" width="50" height="50">
                        </div>
                        <div>
                            <p>Instagram:</p>
                            <p>kroem_sushi</p>
                        </div>
                    </article>
    
                    <article id="contact-article-hour">
                        <p id="contact-article-hour-hourtitle">Horario:</p>
                        <p>Mie - Lun:01:00 - 09:00 PM Mar: <strong> Cerrado</strong></p>
                    </article>
    
                </section>
            </section> <!--concluye seccion uno-->
    
            <section id="contact-section-dos">
                <article>
                    <h4>Ubicación:</h4>
                    <p>Dirección: Blvd. Cucapah #21903 local 15. Tijuana, México</p>
                </article>
                <article>
                    <h4>Teléfono:</h4>
                    <p>+66 45 553 173</p>
                </article>
                <article>
                    <h4>Correo:</h4>
                    <p>croem321@gmail.com</p>
                </article>
    
            </section>
        </div>
        

    
    </main>
    <footer class="footer-del-diablo" id="footer-del-diablo">
        <table>
            <tr>
                <td>
                    <p>Esto es informacion de Contacto:<br>
                    e-mail: contacto@kroem.mx<br>
                    Instagram: @kroemcocina<br>
                    Facebook: @kroemcocinaJapMex</p>
                </td>
                <td>
                    <p>
                        Trabajo<br>
                        Carreras<br>
                        Prensa<br>
                        Equipo<br>
                    </p>

                </td>
            </tr>
        </table>

    </footer>
    
</body>
</html>