<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/gallery.css">

    <title>Kroem Reservaciones</title>
</head>
<body>
    <header class="header-content" id="kroem-header">
        <div class="logo-title-container">
            <h1>Kroem Cocina Japonesa Fusión</h1>
        </div>
        <img src="../assets/kroem_logo.png" alt="LogPrincipal" class="main-logo">

        <nav id="main-navbar" class="main-navbar">
            <a href="home.html"><Button class="navigation-button">Inicio</Button></a>
            <a href="menu.html"><Button class="navigation-button">Menu</Button></a>
            <a href="reservations.html"><Button class="navigation-button">Reservaciones</Button></a>
            <a href="gallery.html"><Button class="navigation-button">Galeria</Button></a>
            <a href="contact.html"><Button class="navigation-button">Contacto</Button></a>
            <a href="review.html"><Button class="navigation-button">Reseñas</Button></a>
        </nav>
    </header>
    <main>
        <section class="section-gallery-container" id="section-gallery-container">
            <h2> Galeria de nuestros productos</h2>
            <div class="gallery-items-container">
                <div class="gallery-item">
                    <img src="../assets/comida_1.jpg" alt="Comida1">
                    <p>California Roll</p>
                    <p>es un maki-sushi, una clase de sushi, en ocasiones realizado de adentro hacia afuera uramaki.</p>
                </div>
                <div class="gallery-item">
                    <img src="../assets/comida_2.jpg" alt="Comida1">
                    <p>Caramel Roll</p>
                    <p>es un maki-sushi, una clase de sushi, en ocasiones realizado de adentro hacia afuera uramaki. </p>
                </div>
                <div class="gallery-item">
                    <img src="../assets/comida_1.jpg" alt="Comida1">
                    <p>California Roll</p>
                    <p>es un maki-sushi, una clase de sushi, en ocasiones realizado de adentro hacia afuera uramaki.</p>
                </div>
                <div class="gallery-item">
                    <img src="../assets/comida_con_logo_1.jpg" alt="Comida1">
                    <p>Arroz Gohan</p>
                    <p>es un maki-sushi, una clase de sushi, en ocasiones realizado de adentro hacia afuera uramaki.</p>
                </div>
                <div class="gallery-item">
                    <img src="../assets/comida_1.jpg" alt="Comida1">
                    <p>California Roll</p>
                    <p>es un maki-sushi, una clase de sushi, en ocasiones realizado de adentro hacia afuera uramaki.</p>
                </div>
                <div class="gallery-item">
                    <img src="../assets/comida_2.jpg" alt="Comida1">
                    <p>Marlin nigiri</p>
                    <p>es un maki-sushi, una clase de sushi, en ocasiones realizado de adentro hacia afuera uramaki.</p>
                </div>
                <!-- <div class="gallery-item">
                    <img src="../assets/comida_2.jpg" alt="Comida1">
                    <p>Marlin nigiri</p>
                    <p>es un maki-sushi, una clase de sushi, en ocasiones realizado de adentro hacia afuera uramaki.</p>
                </div> -->

            </div>
        </section>
        
    </main>
    <footer class="footer-del-diablo" id="footer-del-diablo">
        <table>
            <tr>
                <td>
                    <p>Esto es informacion de Contacto:<br>
                    e-mail: contacto@kroem.mx<br>
                    Instagram: @kroemcocina<br>
                    Facebook: @kroemcocinaJapMex</p>
                </td>
                <td>
                    <p>
                        Trabajo<br>
                        Carreras<br>
                        Prensa<br>
                        Equipo<br>
                    </p>

                </td>
            </tr>
        </table>

    </footer>
    
</body>
</html>