<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reservations.css">

    <title>Reservaciones Kroem</title>
</head>
<body>
    <header class="header-content" id="kroem-header">
        <img src="../assets/kroem_logo.png" alt="LogPrincipal" width="200" height="120">
        <h1>ZKroem, Cocina Fusión</h1>

        <nav id="main-navbar">
            <a href="home.html"><Button class="navigation-button">Inicio</Button></a>
            <a href=""><Button class="navigation-button">Menu</Button></a>
            <a href="reservations.html"><Button class="navigation-button">Reservaciones</Button></a>
            <a href=""><Button class="navigation-button">Galeria</Button></a>
            <a href=""><Button class="navigation-button">Contacto</Button></a>
        </nav>
    </header>
    <main>
        <article class="container-article">
            <form class="reservation-form" action="" method="">
                <h2>Reservacion</h2>
                <table class="reservation-table">
                    <tr>
                        <td><label for="input-name">Nombre</label></td>
                        <td><input type="text" name="input-name" id="input-name"></td>
                    </tr>
                    <tr>
                        <td><label for="input-cellphone">Teléfono</label></td>
                        <td><input type="tel" name="input-cellphone" id="input-cellphone"></td>
                    </tr>
                    
                    <tr>
                        <td><label for="input-date">Fecha</label></td>
                        <td><input type="date" name="input-date" id="input-date"></td>
                    </tr>
                    <tr>
                        <td><label for="input-person'quantity">Numero de personas</label></td>
                        <td><input type="number" name="input-person-quantity" id="input-person-quantity"></td>
                    </tr>
                    <tr>
                        <td><label for="input-comments">Comentarios</label></td>
                        <td><input type="text" name="input-comments" id="input-comments"></td>
                    </tr>
                </table>
                <input type="submit" value="Reservar">
            </form>
            <div class="reservation-kroem-logo-container">
                <img class="reservation-kroem-logo" src="../assets/reservation.jpg" alt="kroem_logo">
            </div>
        </article>
        <hr class="mainhr">
        <div class="previous-reservations">

            <h2>Informacion de reservaciones 🍥🍣</h2>
            <p class="previous-reservations-details">
                Nombre: Daniel <br>
                Telefono: 123456789<br>
                Fecha Reservacion: 2024-03-08<br>
                Número de personas: 3<br>
                Comentarios: comentario de Daniel<br>
            </p>
            <hr class="secondhr">
            <p class="previous-reservations-details">
                Nombre: Eduardo <br>
                Telefono: 555666777<br>
                Fecha Reservacion: 2024-03-10<br>
                Número de personas: 1<br>
                Comentarios: comentario de Eduarddo<br>
            </p>
            <hr class="secondhr">
        </div>
    </main>
    <footer class="footer-del-diablo" id="footer-del-diablo">
        <table>
            <tr>
                <td>
                    <p>Esto es informacion de Contacto:<br>
                    e-mail: contacto@kroem.mx<br>
                    Instagram: @kroemcocina<br>
                    Facebook: @kroemcocinaJapMex</p>
                </td>
                <td>
                    <p>
                        Trabajo<br>
                        Carreras<br>
                        Prensa<br>
                        Equipo<br>
                    </p>

                </td>
            </tr>
        </table>

    </footer>
    
</body>
</html>