body{
    background-color: white;
    margin: 0;
}
main{
    height: 510px;
    display: flex;
    flex-direction: column;
    padding: 50px 0%;
    align-items: center;
}
.logo-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1.5% 0%;
}
.main-logo{
    position: absolute;
    top: 40px;
    left: 500px;
    width: 200px;
    height: 120px;
}
.header-content{
    /* background-color: #1A100F; */
    /* background: linear-gradient(90deg, rgb(79, 54, 52) 0%, rgba(26,16,15,1) 63%, rgba(79, 54, 52) 100%); */
    background-color: white;

    /* color: rgb(247, 99, 99); */
    color: #eb9410;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px, 2%;
    padding: 2% 0% 0% 0%;
}
.main-navbar{
    width: 100%;
    background-color: #1a100f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.navigation-button{
    /* color: rgb(255, 230, 41); */
    color: white;

    font-family: sans-serif;
    /* background-color: bisque; */
    background-color: rgba(255, 228, 196, 0);
    border: 0px;

    width: 210px;
    height: 25px;
    cursor: pointer;
    margin: 10px 30px;

    border-radius: 5px;
}

#contacto-seccion-uno{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#contacto-seccion-dos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

#contacto-seccion-uno p{
    color: black
}

#contacto-seccion-dos p{
    color: black;
}


#contacto-div-contactanos{
    height: fit-content;
    display: flex;
    justify-content: center;
    color: black
}

#contacto-div-contactanos h1{
    font-size: 40px;
    height: fit-content;
}

#contact-ubicacion-header{
    color: black;
    font-size: 40px;
}

.contact-headers{
    text-align: center;
    font-size: 25px;
    color: black;
}

.footer-del-diablo{
    background-color: #1A100F;
    /* background: rgba(26,16,15,1); */
    /* color: rgb(79, 54, 52); */
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1% 19%;
    align-items: center;
}
.footer-del-diablo table{
    width: 80%;
    
    /* background-color: aqua; */
}