body{
    background-color: white;
    margin: 0;
}
main{
    height: 510px;
    display: flex;
    flex-direction: column;
    padding: 100px 0%;
    align-items: center;
    padding-bottom: 600px;

}
.logo-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1.5% 0%;
}
.main-logo{
    position: absolute;
    top: 40px;
    left: 500px;
    width: 200px;
    height: 120px;
}
.header-content{
    /* background-color: #1A100F; */
    /* background: linear-gradient(90deg, rgb(79, 54, 52) 0%, rgba(26,16,15,1) 63%, rgba(79, 54, 52) 100%); */
    background-color: white;

    /* color: rgb(247, 99, 99); */
    color: #eb9410;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px, 2%;
    padding: 2% 0% 0% 0%;
}
.main-navbar{
    width: 100%;
    background-color: #1a100f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.navigation-button{
    /* color: rgb(255, 230, 41); */
    color: white;

    font-family: sans-serif;
    /* background-color: bisque; */
    background-color: rgba(255, 228, 196, 0);
    border: 0px;

    width: 210px;
    height: 25px;
    cursor: pointer;
    margin: 10px 30px;

    border-radius: 5px;
}

.contact-headers{
    text-align: center;
    font-size: 25px;
    color: black;
}

.footer-del-diablo{
    background-color: #1A100F;
    /* background: rgba(26,16,15,1); */
    /* color: rgb(79, 54, 52); */
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1% 19%;
    align-items: center;
}
.footer-del-diablo table{
    width: 80%;
    
    /* background-color: aqua; */
}

#divimagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact-div-general{
    border: 2px solid black;
    border-radius: 15px;
}

#contact-div-general h3{
    font-size: 40px;
    text-align: center;
}

#contact-div-general h4{
    font-size: 25px;
    
}

#contact-div-general p{
    font-size: 25px;
   
}


#contact-header-socialnetwork{
    font-size: 20px;
    text-align: left;
}

#contact-section-uno{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
   
}
#contact-section-uno img{
    margin: 5px;
}


#contact-sectionuno-subsection{
    display: flex;
    flex-direction: column;
}



#contact-sectionuno-article1{
    display: flex;
    flex-direction: row;
    
}
#contact-sectionuno-article2{
    display: flex;
    flex-direction: row;
}

#contact-article-hour{
    display: flex;
    flex-direction: column;
    text-align: center;  
}

#contact-article-hour-hourtitle{
    text-align: left;
    padding-left: 70px;
}


#contact-section-dos{
    border: 2px solid black;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    
}


