body{
    background-color: #151515;
}

#div-logo{
    display: flex;
    justify-content: flex-start;
}

#divcero{
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.achetres{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #E9B410;
}

aside {
    /*para que las imagenes se acomoden en columna*/
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
aside img { 
    margin-bottom: 5px;
}

table{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white; 
}

td{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.precio{
    padding-left: 40px;
}

